<app-navbar></app-navbar>

<div class="main-page">
  <div class="hero-section">
    <div class="hero-content">
      <h1>Welcome to Your Library Portal</h1>
      <p>
        "A library is not a luxury but one of the necessities of life." 
        <br><em>- Henry Ward Beecher</em>
      </p>
      <p>
        "The only thing that you absolutely have to know, is the location of the library."
        <br><em>- Albert Einstein</em>
      </p>
      <p>
        Discover, borrow, and immerse yourself in the world of knowledge. Manage your books efficiently and never miss a due date.
      </p>
      <p>
        <strong>Admin Roles:</strong> The admin is the backbone of our library management system, performing essential tasks:
      </p>
      <ul>
        <li>Add books to the library collection.</li>
        <li>Delete books that are no longer available.</li>
        <li>Mark the return of books borrowed by users.</li>
        <li>Search for books by title, author, or ISBN.</li>
        <li>Generate reports on borrowing activities and overdue penalties.</li>
      </ul>
    </div>
    <div class="hero-image">
      <img src="./assets/library-hero.jpg" alt="Library Image">
    </div>
  </div>
</div>
