<app-user-nav-bar></app-user-nav-bar>
<div class="available-books">
  <h3>Available Books</h3>
  <ul>
    <li *ngFor="let book of availableBooks">
      {{ book.title }} by {{ book.author }}
      <button (click)="borrowBook(book.isbn)">Borrow</button>
    </li>
  </ul>
</div>

<div class="borrowed-books">
  <h3>Borrowed Books</h3>
  <ul>
    <li *ngFor="let book of borrowedBooks">
      {{ book.title }} by {{ book.author }}
      <p>Due Date: {{ book.dueDate | date }}</p>
    </li>
  </ul>
</div>
