<div class="navbar-container">
    <div class="container">
      <nav class="navbar">
        <div class="navbar-links">
          <ul class="nav-menu">
                <li><a (click)="goToAddBooks()">AddBooks</a></li>
                <li><a (click)="goToDeleteBooks()">DeleteBooks</a></li>
                <li><a (click)="goToSearchBooks()">SearchBooks</a></li>
                <li><a (click)="goToReturnBooks()">ReturnBooks</a></li>
                <li><a (click)="goToReports()">GetReports</a></li>
          </ul>
        </div>
      </nav>
    </div>
</div>
  