<div class="navbar-container">
  <div class="container">
      <nav class="navbar">
          <div class="navbar-links">
              <ul class="nav-menu">
                  <li><a (click)="goToMainPage()"><i class="fas fa-home"></i> Home</a></li>
                  <li><a (click)="goToAddBooks()"><i class="fas fa-plus-circle"></i> AddBooks</a></li>
                  <li><a (click)="goToDeleteBooks()"><i class="fas fa-trash-alt"></i> DeleteBooks</a></li>
                  <li><a (click)="goToSearchBooks()"><i class="fas fa-search"></i> SearchBooks</a></li>
                  <li><a (click)="goToReturnBooks()"><i class="fas fa-undo"></i> ReturnBooks</a></li>
                  <li><a (click)="goToReports()"><i class="fas fa-chart-bar"></i> GetReports</a></li>
                  <li><a (click)="goToLogin()"><i class="fas fa-sign-out-alt"></i> LogOut</a></li>
              </ul>
          </div>
      </nav>
  </div>
</div>
