<app-user-nav-bar></app-user-nav-bar>

<div class="main-page">
  <div class="hero-section">
    <div class="hero-content">
      <h1>Welcome to Your Library Portal</h1>
      <p>
        "When in doubt, go to the library." 
        <br><em>- J.K. Rowling</em>
      </p>
      <p>
        "Libraries store the energy that fuels the imagination. They open up windows to the world and inspire us to explore and achieve."
        <br><em>- Sidney Sheldon</em>
      </p>
      <p>
        Manage your borrowed books effortlessly and stay updated on due dates and penalties. Discover your next read from our extensive collection.
      </p>
      <p>
        <strong>User Roles:</strong> As a user, you can access a wide range of features:
      </p>
      <ul>
        <li>Search for books by title, author, or genre.</li>
        <li>Borrow books from the library.</li>
        <li>Check your borrowing history and due dates.</li>
        <li>Receive notifications about overdue books.</li>
        <li>Explore featured and most-borrowed books.</li>
      </ul>
    </div>
    <div class="hero-image">
      <img src="./assets/user-hero-2.avif" alt="User Library Image">
    </div>
  </div>
</div>
