*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.library-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.header {
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-left: 5%;
}

.header-image{
  height: 700px;
  width: 700px;
}

.header h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 20px;
}

.content {
  width: 50%;
  background-color: white;
  align-items: center;
  justify-content: center;
  padding-top: 15%;
  padding-left: 30px;
}

.search-section {
  margin-bottom: 20px;
  align-items: center;
}

.email-input {
  padding: 10px;
  margin-right: 10px;
  width: 75%;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline;
}

.fetch-button {
  padding: 10px;
  background-color: #fa3563;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 15px;
}

.fetch-button:hover {
  background-color: #fa3563;
}

.table-container {
  margin-top: 20px;
  border: 1px solid black;
}

table {
  width: 100%;
  border: 1px black;
}

th, td , tr{
  padding: 12px;
  text-align: left;
  border: 1px black;
}

th {
  background-color: #fa3563;
  color: white;
  border: 1px black;
}

.return-button {
  padding: 8px 16px;
  background-color: #fa3563;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.return-button:hover {
  background-color: #fa3563;
}

.no-books {
  margin-top: 20px;
}

.no-books p {
  font-size: 1.2rem;
  color: #555;
}
